<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.fanclastic.Fanclastic3DDesigner">
    
	<application
	
		android:icon="@drawable/app_icon"
		android:label="Fanclastic 3D Designer"
        android:allowBackup="true"
        android:supportsRtl="true">
	
		<activity android:name="com.unity3d.player.UnityPlayerActivity"
			android:label="Fanclastic 3D Designer">
			
			<intent-filter>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data android:name="unityplayer.UnityActivity" android:value="true" />
		</activity>
		
    </application>
	
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        />

</manifest>
