<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442502621796-68m4um3g7fhlp61fk33p257s0dcu1p2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442502621796-68m4um3g7fhlp61fk33p257s0dcu1p2u</string>
	<key>API_KEY</key>
	<string>AIzaSyAz0BLNoK97LMgIoRRVmKW2HLSw5RXpCHE</string>
	<key>GCM_SENDER_ID</key>
	<string>442502621796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.fanclastic.Fanclastic3DDesigner</string>
	<key>PROJECT_ID</key>
	<string>fanclastic-3d-designer</string>
	<key>STORAGE_BUCKET</key>
	<string>fanclastic-3d-designer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442502621796:ios:8b6a7781a5548fae</string>
	<key>DATABASE_URL</key>
	<string>https://fanclastic-3d-designer.firebaseio.com</string>
</dict>
</plist>